# 必忽略的自动生成文件夹
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# IDE 与 Visual Studio / Rider 产生的缓存
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS 生成的文件
.DS_Store
Thumbs.db

Packages/EPPlus*/
packages.config

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# 忽略 NuGet 还原生成的依赖包目录
Packages/Microsoft.*/
Packages/System.*/
Packages/EPPlus*/
packages.config